
    <section id="newsletter">
        <div class="container">
            <h1>Admin</h>
            <!-- <form>
                <input type="email", placeholder="enter email">
                <button type="submit"  class="button_1" >Subscribe</button>
            </form> -->
        </div>
    </section>

    <div class="adimin-container">
        {{>admin-nav}}
    </div>

    <div class="sec-table">
            <table>
                <thead>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Show</th>
                    <th>Delete</th>
                </thead>
                
                <tbody>
                    {{#each posts}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{category.name}}</td>
                        <td><a href="/admin/posts/edit/{{id}}"><i class="fas fa-pencil-alt"></i></a></td>
                        <td><a href="/posts/{{id}}"><i class="fas fa-eye"></i></a></td>
                        <td>
                            <form action="/admin/posts/{{id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value=DELETE/>
                                <button type="submit" ><i class="fas fa-toilet"></i></button>
                            </form>
                        </td>
                    </tr>
                    
                    {{/each}}
                </tbody>
            </table>

    </div>
    